.footer {
    background-color: $black;
    padding: 80px 0;
}

.footer__copyright {
    color: $white;
    display: block;
    width: auto;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}