// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: '';
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #FFFFFF;
$black: #030C11;
$red: #E3202A;
$dark-red: #B6050E;
$disabled: #888888;

