// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: '';
$base-font-size: 16px;
$small-font-size: 14px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$tablet-width: 768px; 
$base-path: '../';

// Colors
$white: #FFFFFF;
$black: #030C11;
$red: #E3202A;
$dark-red: #B6050E;
$disabled: #888888;


